

html, body {
    margin: 0;
    padding: 0;
    font-family: Lato, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #555;
    overflow-x: hidden;
    
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position: relative;
    border-bottom: solid 2px #ddd;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
}

header .logo {
    max-width: 300px;
}

header .logo-icon {
    display: none;
}

header .header-link {
    display: flex;
    justify-content: center;
    align-content: center;
}

header .header-link a {
    color: #555;
    text-decoration: none;
    border-bottom: solid 2px #24abd87a;
}


header .container {
    max-width: 1000px;
    width: 100%;
    justify-content: space-between;
    align-items: center; 
    flex-direction: row;
    display: flex;
}

/* MAIN STYLES */

.main.container {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-text {
    width: 100%;
    text-align: center;
    padding: 50px 0 ; 
    border-bottom: solid 2px #24abd87a; 
}


.repositories-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px 0;
    justify-content: center;
}

.repo-card  {
    width: 30%;
    min-width: 304px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.repo-card .card-header {
    text-align: center;
    font-size: 0.8rem;
    color: #555;
    
 
}

.repo-card .card-header h2 {
    border: solid 2px transparent;
    transition: all 0.2s ease;
    padding-bottom: 5px; 
    display: inline-block;
}

.repo-card .card-image {
    background: #ddd;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
    /* border: solid 2px #bbb; */
    transition: all ease 0.2s;
    width: 100%;
    height: 100%;
    margin: 0;
}

.repo-card:hover  .card-image {
    /* box-shadow: 0 0 10px 0 #24abd87a; */
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}


.repo-card a {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.repo-card:hover .card-header h2 {
    border-bottom: solid 2px #24abd87a;
}

/* CARD IMAGES */

.card-image.loading {
    background: url("thumbs/loading.png");
    background-repeat: no-repeat;
    
    background-position-y: center;
}
.card-image.shiny-authentication {
    background: url("thumbs/shiny-authentication.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
}
.card-image.datatable-modal {
    background: url("thumbs/datatable-shinymodal.png");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: -100px;
}
.card-image.theming {
    background: url("thumbs/theming.png");
    background-repeat: no-repeat;
}
.card-image.pdf_gen {
    background: url("thumbs/pdf_gen.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
}
.card-image.choropleth {
    background: url("thumbs/choropleth.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
}
.card-image.selection {
    background: url("thumbs/selection.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
}
.card-image.scrolling {
    background: url("thumbs/scrolling.PNG");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
}

.card-image.image_downloader {
    background: url("thumbs/image_downloader.PNG");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
}


/* FOOTER */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222;
    color: white;
    padding: 50px;
    margin-top: 50px;
    font-size: 13px;
}

footer .container, .extra-footer .container {
    max-width: 1000px;
    width: 100%;
}

footer a  {
    color: #888;
}

footer a:hover {
    color: #fff;
}

.extra-footer a {
    color: #CCC;
}

.extra-footer a:hover {
    color: #fff;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-footer .logo img {
    height: 60px;
    margin-bottom: 30px;
}

.footer-heading {
    text-transform: uppercase;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.main-footer ul {
    padding: 0;
}

.footer-item {
    margin: 10px 0;
    list-style: none;
    color: #888;
}

.footer-item i {
    width: 26px;
    margin-right: 26px;
    font-size: 26px;
}


.extra-footer {
    width: 100%;
    display: flex;
    padding: 30px 50px;
    background: #333;
    justify-content: center;
    align-items: center;
    color: #CCC;
    font-size: 13px;
}

.extra-footer section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extra-footer section div {
    margin: 10px 0;
}


@media (max-width: 1000px) {
    header, .main.container, footer .container, .extra-footer .container {
        max-width: 800px;
    }

   
}

@media (max-width: 800px) {
    header, .main.container, footer .container, .extra-footer .container {
        max-width: 600px;
    }
    .main-footer, .extra-footer section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (max-width: 600px) {
    header, .main.container, footer .container, .extra-footer .container {
        max-width: 400px;
    }

    header .logo-icon {
        display: block;
        max-width: 60px;
    }

    header .logo {
        display: none;
    }
}

@media (max-width: 400px) {
    header, .main.container, footer .container, .extra-footer .container {
        max-width: 300px;
    }
}

@media (max-width: 320px) {
    header, .main.container, footer .container, .extra-footer .container {
        max-width: 250px;
    }
}
